.selettore-lista-body{
    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 3cm;
    padding-bottom: 3cm;
}

.list-selection-form-wrapper{
    margin: auto;
    padding: 1cm;
    border-radius: 0.4cm;
    border: 0.1cm solid red;
    display: flex;
    flex-direction: column;
    min-width: 3in; 
    box-shadow: 0.05cm 0.1cm 0.3cm black;
}

.list-selection-field{
    
}

.label-lists-selection{

}

.select-list-selection{
}

.error-label-lists-selection{
    margin-top: -0.3cm;
    font-size: 13px;
}

.confirm-button{
    margin-top: 1cm;
    margin-bottom: 0.5cm;
}