.selettore-lista-body{
    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 113px;
    padding-bottom: 113px;
}

.list-selection-form-wrapper{
    margin: auto;
    padding: 38px;
    display: flex;
    flex-direction: column;
    border: 4px solid green;
    box-shadow: 2px 4px 12px green;
}

.list-selection-field{
    
}

.label-lists-selection{

}

.select-list-selection{
}

.error-label-lists-selection{
    margin-top: -12px;
    font-size: 13px;
}

.confirm-button{
    margin-top: 38px;
    margin-bottom: 19px;
}