.lista-spesa-wrapper-component-body{
    display: flex;
    flex-direction: column;
    max-width: 18in;
    justify-content: center;
    max-width: 100%;
}

.list-components{
}

.end-task-buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

.end-task-button{
    max-width: 50%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
} 

.save-changes{
}