.lista-spesa-wrapper-component-body{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%
}

.list-components{
}

.confirmation-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    left: 50%;
    right: 50%;
    top: 400px;
    text-align: center;
    transform: translate(-50%, -50%);
    min-width: 5in;
    background-color: #fff;
    padding: 0.5cm;
    z-index: 100;
}

.confirmation-form-buttons{
    display: flex;
    justify-content: center;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    width: 100%;
}

.confirmation-form-button{
    margin: auto;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    min-width: 5cm;
}

.delete-form-button-wrapper{
    padding: 0.5cm;
}

.delete-form-button{
    min-width: 5cm;
}