<div class = "lista-spesa-wrapper-component-body">
    <div [ngClass] = "calculateClasses()" >    
        <div class = "list-components">
            <app-lista-spesa></app-lista-spesa>
            <app-totale-spesa></app-totale-spesa>
            <app-form-spesa></app-form-spesa>
            <div class = "end-task-buttons">
                <button class = "secondary-button end-task-button save-changes" mat-raised-button (click) = "saveChanges()">Salva i cambiamenti</button>
                <button class = "secondary-button end-task-button" mat-raised-button (click) = "routeToListSelectionPage()">torna alla selezione liste</button>
            </div>
        </div>
    </div>
    <app-save-changes-box *ngIf = "guardForm" [nextStateUrl] = "nextStateUrl" (route) = "routeEvent($event)" (delete) = "ignoreEvent($event)" ></app-save-changes-box>
</div>
