<div class = "lista-spesa-wrapper-component-body">
    <div class = "list-components">
        <app-lista-spesa [lista] = "lista" (listaChange) = "deleteElement($event)"></app-lista-spesa>
        <app-totale-spesa [lista] = "lista"></app-totale-spesa>
        <app-form-spesa [idLista] = "idLista" (listaChange) = "addElement($event)"></app-form-spesa>
        <button (click) = "saveChanges()">Save Changes</button>
        <br>
        <button (click) = "routeToListSelectionPage()">vai alla selezione delle liste</button>
    </div>
    <div class = "confirmation-form red-border-with-shadow-box" *ngIf = "guardForm">
        <h3>Ci sono dei cambiamenti non salvati!</h3>
        <h3 style = "margin-top: -10px">Salvare prima di uscire?</h3>
        <div class = "confirmation-form-buttons">
            <button mat-raised-button class = "primary-button confirmation-form-button" (click) = "isChangesConfirmed(true)">Salva ed esci</button>
            <button mat-raised-button class = "warning-button confirmation-form-button" (click) = "isChangesConfirmed(false)">esci senza salvare</button>
        </div> 
        <div class = "delete-form-button-wrapper">
            <button mat-raised-button class = "secondary-button delete-form-button" (click) = "deleteRouting()">Annulla</button>
        </div>
    </div>
</div>
