.form-spesa-component-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    text-align: center;
    align-items: center;
    width: 100%;
}

.insert-elements{
    display: flex;
    width: 100%;
    justify-content: center;
} 

.form-element{
    width: 30vw;
    padding-left: 5%;
    padding-right: 5%;
}

.form-button{
    width: 30vw;
    margin: 3vW;
}
