.login-component-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.login-form{
}

.access-button{
    margin-bottom: 25px;
}