.login-component-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid blueviolet;
    box-shadow: 2px 4px 12px blueviolet;
} 

.login-form{
}