.login-component-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.login-form{
    padding: 10px;
}

.form-element{    
    margin-left: 25px;
    margin-right: 25px;
}

.error-message{
    color: red;
    font-size: 0.65em;    
    margin-top: -0.7em;    
}

.user-inputs{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.field-div{
    width: 50%;
}

.error-div{
}

.access-button{
    margin-bottom: 3em;
}

.ngx-overlay{
    background-color: red !important;
    cursor: default !important;
}