<div class = "login-component-body blueviolet-border-with-shadow-box">
    <h3>Login</h3>
    <form class="login-form">
        <div class="user-inputs">
            <mat-form-field class = "form-element" [floatLabel]="'always'">
                <mat-label for = "username" >Username</mat-label>
                <input matInput required minlength="3" maxlength="30" id = "username" type = "text"  [(ngModel)] = "user.username" placeholder="Username">
            </mat-form-field>
            <mat-form-field class = "form-element" [floatLabel]="'always'">
                <mat-label for = "password" >Password</mat-label>
                <input matInput id = "password" type = "password"  [(ngModel)] = "user.password" placeholder="Password">
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button class="blueviolet-primary-button access-button">Accedi</button>
        </div>

    </form>
</div>
